body {
    margin: 0;
    width: 100vw;
    overflow-x: hidden
}

main {
    min-height: 100vh;
    //min-height: calc(var(--vh, 1vh) * 100);
}

.game-window {
    transition: transform 0.5s ease-in-out;
}

.game-display-background {
    background: black;
    min-height: 100vh;
    min-width: 100vw;
}

@media only screen and (min-width: 600px) {
    .game-display-background {
        min-height: 90vh;
        min-width: 70vh;
        border-radius: 10px;
        overflow: hidden;
    }
}

.move-off-right {
    transform: translateX(100vw);
}

.move-to-center {
    transform: translateX(0);
}

.move-off-left {
    transform: translateX(-100vw);
}

.fade-in {
    transition: opacity 0.5s ease-in-out;
}

#button-bar {
    z-index: 1000;
}

// Importing bootstrap
@import '/node_modules/bootstrap/scss/bootstrap.scss';

// Bootstrap overrides
//.min-vh-100 {
//    min-height: 100vh; /* Fallback for browsers that do not support Custom Properties */
//    min-height: calc(var(--vh, 1vh) * 100);
//}
//.vh-100 {
//    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
//    height: calc(var(--vh, 1vh) * 100);
//}
